@import 'utils/_tailwind.css';
@import 'utils/_accessibility.css';

body {
	background: url('https://carver-sphere.just-us.net/images/black-myst.jpg') repeat;
}
#app {
	@apply mx-auto m-10 sm:border border-transparent min-w-min max-w-screen-md min-h-screen flex;
	@apply border-t-[30px] border-l-[30px] border-r-[30px] border-b-[30px];
	@apply sm:border-l-[80px] sm:border-r-[80px] sm:border-t-[80px] sm:border-b-[80px];
	border-image: url('https://carver-sphere.just-us.net/images/black-myst-border.png') 70;
}

#content {
	@apply  bg-white grow;
}

h1 {
	@apply text-4xl font-bold mb-5;
}

h1.character-title {
	@apply mb-0;
}

h1.character-title + small {
	@apply text-sm text-purple-500;
}

h1.character-title + small + h2 {
	@apply mt-3;
}

h2 {
	@apply text-3xl font-bold;
}

h3 {
	@apply text-2xl font-bold;
}

li {
	@apply list-item list-inside list-disc;
}

nav li {
	@apply block list-none;
}

/** bottom margin of block level elements */
header, main, .hero, .row, table, p, hr, h2, h3 {
	@apply mb-3;
}

a {
	@apply text-purple-500 underline font-bold;
}
a:hover, a:focus {
	@apply text-purple-900;
}

a.button {
	@apply bg-purple-500 text-purple-200 border border-purple-900 rounded py-3 px-5 no-underline;
}
a.button:hover, a.button:focus {
	@apply bg-purple-900;
}

table {
	@apply w-full;
}
th {
	@apply border-b border-purple-800 text-purple-800 p-2;
}
td {
	@apply py-1 px-2;
}
tr:hover {
	@apply bg-purple-50;
}

.hero {
	@apply w-full py-10 px-5 text-center bg-purple-50 rounded-lg border-purple-900 text-purple-900 border;
}
.hero p {
	@apply text-lg mb-10;
}

.row {
	@apply md:flex;
}

.row > * {
	@apply md:pr-3 last:md:pr-0;
}

.abilities {
	@apply flex flex-wrap sm:flex-nowrap mb-5;
}

.other {
	@apply pt-3;
}
.ability-block {
	@apply w-1/6;
}

.box {
	@apply max-w-fit pr-0;;
}

.ability-block, .box {
	@apply text-center border border-purple-500 rounded-lg mr-3 last:mr-0;
}

.box-title {
	@apply px-3 w-full;
}

.ability-name, .box-title {
	@apply uppercase font-bold bg-purple-50 text-purple-900 rounded-t-lg;
}

.ability-score {
	@apply flex flex-col-reverse px-3 pt-1 pb-5 relative;
}

.ability-score .stat {
	@apply border border-purple-900 bg-purple-50 rounded-full py-1 px-3 w-14;
	@apply absolute;
	top: 75%;
	left: calc(50% - 1.75rem)
}

.ability-score .modifier, .box-details {
	@apply  text-3xl;
}

.box-details {
	@apply px-3 pt-1 pb-2;
}

.note {
	@apply p-5 m-3;
}

#calendar tr td:nth-child(4n + 1), #calendar th:nth-child(4n) {
	@apply bg-purple-50;
}

#calendar tr:hover {
	@apply bg-transparent;
}

#calendar td:hover, #calendar tr td:nth-child(4n + 1):hover {
	@apply bg-purple-100;
}