---
layout: base.njk
title: Wiki
description: All you need to know about The Carver Sphere and much much more.
eleventyNavigation:
  key: Wiki
---

<h1>{{ site.title }} Wiki</h1>

<div class="md: flex md: flex-wrap">
  <div>
  {% set top = null %}
  {%- for item in collections.abcWiki -%}
    {% set current = item.data.eleventyNavigation.key.slice(0,1).toUpperCase() %}
    {% if current !== top %}
      {% set top = current %}
      </div>
      <div class="md:w-1/3 mb-3 p-3">
      <h2 class="pb-3 mb-5 text-center border-b border-purple-700 text-purple-700">{{ top }}</h2>
    {% endif %}
    <a href="{{ item.data.url }}">{{ item.data.title }}</a><br/>
  {%- endfor -%}
  </div>
</div>

